{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-center mb-8">About Us</h1>
    <div class="bg-gray-800 rounded-lg shadow-lg p-8">
        <div class="text-center mb-8">
            <img src="" alt="About Us" class="w-full rounded-lg">
        </div>
        <p class="text-gray-400 text-lg leading-relaxed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id erat in orci lobortis egestas. Cras porttitor, ex non posuere rhoncus, velit ipsum condimentum ligula, in sollicitudin eros nunc eu lectus. Mauris orci mauris, sodales quis scelerisque id, molestie auctor nibh. Maecenas ut sem lobortis erat bibendum fermentum vel sed eros. Curabitur eleifend bibendum odio, sit amet rhoncus velit. Phasellus in purus vel ante placerat ullamcorper placerat sed erat. Curabitur non mauris pellentesque, tempus neque lobortis, sodales nunc. Cras cursus lectus id tellus fermentum, eu vestibulum sapien eleifend. Nullam posuere hendrerit tortor, sed varius velit feugiat vel. Cras quam urna, mattis a pulvinar sed, consectetur vitae arcu. Sed consectetur sit amet enim vitae gravida. Suspendisse potenti. Vestibulum lectus turpis, blandit nec augue sit amet, feugiat condimentum felis.
        </p>
        <p class="text-gray-400 text-lg leading-relaxed mt-4">
            Aenean sit amet nisl at ex rutrum scelerisque. In quis rhoncus ligula, eget pharetra diam. Morbi vehicula velit eget libero suscipit, in fringilla felis dapibus. Integer eget justo magna. Vestibulum ut metus id lorem euismod convallis. Aliquam neque magna, finibus eu ligula vel, fermentum rhoncus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum euismod nibh id dolor tempor eleifend vitae a enim.
        </p>
    </div>
</div>
{% endblock %}